@import "_variables.scss";

$rail-active: #f0730f;

.rail-container {
    .panel-heading, .panel-body {
        padding: 10px 20px;
    }
    h2 {
        margin: 0;
    }
    .sortable {
        cursor: pointer;
    }
    .sortable:hover {
        color: $raketa-brand-color;
    }
    .btn {
        cursor: pointer;
    }
}

.rail-search-block {

    .panel-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button-block {
            margin: 0;
            .btn {
                margin-right: 10px;
            }
            .btn:last-child {
                margin-right: 0px;
            }
        }
    }

    .control-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        div {
            margin-right: 10px;
        }
        div:last-child {
            margin-right: 0;
        };
        label {
            display: block;
        }
        input, select {
            font-weight: bold;
        }
        .departure, .arrival {
            flex: 1 1 auto;
        }
        .departure {
            position: relative;
        }
        .departure-date {
            flex: 0 1 auto;
            width: 204px;
        }
        .interval {
            flex: 0 1 auto;
            width: 270px;
            select {
                width: 48%;
                display: inline-block;
            }
            select:last-child {
                margin-left: 2%;
            }
        }
        .rkt-exchange-h {
            color: $raketa-brand-color;
            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom: 8px;
        }
    }
}

.policy {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.policy.recommended {
    background-color: $brand-success;
}
.policy.not-recommended {
    background: url("data:image/png;base64iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJAgMAAACHww4NAAAACVBMVEUAAAD///////9zeKVjAAAAAnRSTlMAcCaWvAQAAAASSURBVAjXYwACDiTEwgARAQIAAr8ALQ2HG0MAAAAASUVORK5CYII=") no-repeat center center;
    background-color: #e95d0b;
}

.rail-table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    tr {
        border-bottom: 1px solid $base-Fa;

    }
    tbody>tr {
        &:hover {
            & td {
                background: #f3f4f5;
            }
            & .btn {
                background-color: $rail-active;
                color: #fff;
            }
        }
        &:last-child {
            border: none;
        }
    }

    th, td {
        padding: 20px 10px 20px 10px;
    }
    thead {
        th {
            text-transform: uppercase;
            font-weight: normal;
            padding: 10px;
        }
    }
}
.train-name, .train-departure, .train-arrival, .train-class {
    text-transform: uppercase;
}

.carriage-category {
    text-transform: uppercase;
}
.carriage-category-description {
    white-space: normal;
    word-wrap: break-word;
}

.service-block>* {
    display: inline-block;
}

.service {
    border-radius: 15px;
    text-align: center;
    width: 30px;
    text-transform: uppercase;
    background-color: $base-Sol;
    cursor: pointer;
}
.active {
    background-color: $rail-active;
    color: #fff;
}

.train-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    .policy {
        align-self: center;
    }
}

.train-seats div {
    text-align: center;
}

.train-choose {
    .panel-heading {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
}

.carriage-choose {
    .panel-heading {
        display: flex;
        .available-seats {
            margin-left: auto;
            align-self:  center;
        }
        white-space: nowrap;
        .btn-group {
            margin-left: 20px;
        }
    }
}

.rail-schema {
    .seat {
        &>path, &>rect {
            fill: #cdcdcd;
        }
        &>text{
            fill: #fff;
        }
    }
    .available {
        &>path, &>rect {
            fill: $rail-active;
        }
    }
}

.carriage-schema {
    width: 30%;
    svg {
        width: 100%;
    }
}

