@import "_variables.scss";

$rail-active: #f0730f;

.rail-container {
    .panel-heading, .panel-body {
        padding: 10px 20px;
    }
    h2 {
        margin: 0;
    }
    .sortable {
        cursor: pointer;
    }
    .sortable:hover {
        color: $raketa-brand-color;
    }
    .btn {
        cursor: pointer;
    }
    input[type=checkbox] {
        display: inline;
    }
}

.rail-container-header {
    .rail-table {
        width: 95%;
        margin: 0 auto;
    }
}

.rail-search-block {
    .panel-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button-block {
            margin: 0;
            .btn {
                margin-right: 10px;
            }
            .btn:last-child {
                margin-right: 0px;
            }
        }
    }

    .control-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        div {
            margin-right: 10px;
        }
        div:last-child {
            margin-right: 0;
        };
        label {
            display: block;
        }
        input, select {
            font-weight: bold;
        }
        .departure, .arrival {
            flex: 1 1 auto;
        }
        .departure {
            position: relative;
        }
        .departure-date {
            flex: 0 1 auto;
            width: 204px;
            position: relative;
            .rkt-calendar {
                position: absolute;
                top: 35px;
                right: 10px;
                color: $rail-active;
                cursor: pointer;
            }
        }
        .interval {
            flex: 0 1 auto;
            width: 270px;
            select {
                width: 48%;
                display: inline-block;
            }
            select:last-child {
                margin-left: 2%;
            }
        }
        .rkt-exchange-h {
            color: $raketa-brand-color;
            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom: 8px;
        }
    }
}

.policy {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.rkt-policy-allow {
    color: $brand-success;
}
.rkt-policy-disallow-2 {
    color: $rail-active;
}

.rail-table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    tr {
        border-bottom: 1px solid $base-Fa;
    }
    tbody>tr {
        &:hover {
            & td {
                background: #f3f4f5;
            }
            & .btn {
                background-color: $rail-active;
                color: #fff;
            }
        }
        &:last-child {
            border: none;
        }
    }

    th, td {
        vertical-align: top;
        padding: 30px 20px;
    }
    thead {
        th {
            
            text-transform: uppercase;
            font-weight: normal;
            padding: 20px;
        }
    }
}
.train-name, .train-departure, .train-arrival, .train-class {
    text-transform: uppercase;
}

.carriage-category {
    text-transform: uppercase;
    vertical-align: middle;
}
.carriage-category-description {
    white-space: normal;
    word-wrap: break-word;
}

.service-block>* {
    display: inline-block;
}

.service {
    border-radius: 15px;
    text-align: center;
    width: 30px;
    text-transform: uppercase;
    background-color: $base-Sol;
    cursor: pointer;
}
.btn.active, .service.active {
    background-color: $rail-active;
    color: #fff;
}

.train-price {
    position: relative;
    .price {
        font-weight: bold;
        display: inline-block;
        text-align: right;
        width: 80%;
    }
    .policy {
        position: absolute;
        right: -15px;
        top: 1px;
    }
}

.train-seats div {
    text-align: center;
}

.train-choose {
    .panel-heading {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
}

.carriage-choose {
    .panel-heading {
        display: flex;
        .available-seats {
            margin-left: auto;
            align-self:  center;
        }
        white-space: nowrap;
        .btn-group {
            margin-left: 20px;
        }
    }
}

.rail-schema {
    .seat {
        cursor: pointer;
        &>path, &>rect {
            fill: #cdcdcd;
        }
        &>text {
            fill: #fff;
        }
        &:hover {
            &>path, &>rect {
                fill: #c34e0a;
            }
        }
    }
    .available {
        &>path, &>rect {
            fill: $rail-active;
        }
    }
    .chosen {
        &>path, &>rect {
            fill: #2c3439;
        }
    }
}

.carriage-schema {
    width: 40%;
    svg {
        width: 100%;
    }
}

.passenger-header {
    display: flex;
    justify-content: space-between;
}
.schema-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .seat {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        &.available {
            background-color: $rail-active;
        }
        &.busy {
            background-color: #cdcdcd;
        }
    }
    h3 {
        margin: 0;
    }
}
.schema-choose-header {
    text-align: center;
    background-color: #f8f9f9;
    padding: 5px 0;
    margin-bottom: 70px;
    border-top: 1px solid #ccc;
}
.schema-choose-body {
    .carriage-schema {
        margin: 0 auto;
        width: 90%;
    }
}
.train-direction {
    margin: 0 auto;
    width: 40%;
    div {
        display: inline-block;
        margin-right: 20px;

        &:first-child {
            color: #b0b9bf;
        }
        &:last-child {
            color: #687582;
        }
    }
}
.seat-choose-params {
    background-color: #f8f9f9;
    display: flex;
    justify-content: space-between;
    div {
        flex-basis: 200px;
        margin-left: 20px;
        &:first-child {
            flex-basis: 50px;
            align-self: center;
        }
    }
    label {
        display: block;
    }
    select {
        width: 100%;
    }
}
.btn-group .btn:focus {
    background-color: $rail-active;
    color: white;

}
.passenger-body {
    div {
        display: inline-block;
    }
}
.rkt-ticket {
    font-size: 36px;
}
.fa-exclamation-triangle {
    color: #dcdfe0;
    font-size: 36px;
}
hr {
    margin: 0;
    border-top: 1px solid #ccc;
}